<div class="container mb-3">
  <div class="mt-5 d-flex justify-content-between">
    <h1 class="mt-3">Most Type of Order</h1>
  </div>
  <hr>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [plotOptions]="chartOptions.plotOptions!"
      [labels]="chartOptions.labels!"
      [legend]="chartOptions.legend!"
      [colors]="chartOptions.colors!"
      [responsive]="chartOptions.responsive!"
    ></apx-chart>
  </div>
  <div>


  </div>
</div>
