.container {
  background-color: #1c1a26;
  border-radius: 10px;
  height: 100vh;
  max-width: 50%;
  padding: 25px;
  position: fixed;
}

.button {
  margin-right: 10px;
  background-color: #1c1a2695;
  color: rgb(106, 106, 106);
  border-color: rgb(106, 106, 106);
  font-weight: 600;
}
.button:hover {
  border-color: white;
  color: white;
}

.button-active {
  border-color: white;
  color: white;
}
.position {
  position: relative;
  left: 55px;
  bottom: 76px;
  color: var(--primary-color);
}

.back-icon{
  cursor: pointer;
}
.back-icon:hover {
  color: var(--primary-color);
}

.input-card {
  background-color: #252836;
  color: white;
  height: 50px;
  border-radius: 12px;
}
.input-card::placeholder{
  color: rgba(255, 255, 255, 0.426);
}


.button-confirm {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.button-cancel {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.button-cancel:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.width-img {
  width: 200px;
  height: 200px;
  clip-path: inset(2px 0 1px 2px)
}

.height-container-buttons-payment-pix {
  height: 24.2vh;
}

.height-container-buttons-payment-credit-card {
  height: 3.3vh;
}

.total-value-pix {
  margin-bottom: -149.9px;
  font-size: 25px;
}
.total-value-credit-card {
  font-size: 25px;
  margin-top: 20px;
}

@media screen and (min-width: 1900px) {
  .height-container-buttons-payment-credit-card {
    height: 19vh;
  }
  .height-container-buttons-payment-pix {
    height: 30vh;
  }
  .width-img {
    width: 250px;
    height: 250px;
    clip-path: inset(2px 0 1px 2px)
  }
  .total-value-credit-card {
    font-size: 35px;
    margin-top: 70px;
  }
  .total-value-pix {
    margin-bottom: -104px;
    font-size: 35px;
  }
}
