<div class="scene">
  <div class="card">
    <div class="card__face card__face--front">
      <!-- <img src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" /> -->
      <div class="credit-card">
        <div class="d-flex mt-3 ms-3 me-3">
          <img class="me-3" src="../../../../../assets/credit-card/logo.png" style="width: 65px; height: 40px;">
          <h1 class="mt-1" style="font-weight: 600;">Credit Card</h1>
          <img class="ms-auto" src="../../../../../assets/credit-card/chip.png" style="width: 52px; height: 35px;">
        </div>
        <div class="container ms-3 me-3" style="width: 90%;">
          <h2 style="font-size: 16px; margin-bottom: -5px;">Card Number</h2>
          <h2 style="font-size: 23px">1234 5678 1234 5678</h2>
          <div class="d-flex">
            <h2>Hallef B C Silva</h2>
            <div class="d-flex flex-column ms-auto">
              <p>Valid Thru</p>
              <p style="font-size: 20px; margin-top: -13px;">28/05</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card__face card__face--back">
      <div class="credit-card">
        <div class="d-flex flex-column align-items-center mt-3">
          <div style="height: 35px; width: 100%; background-color: black;"></div>
          <p style="font-size: 20px;" class="align-self-end pe-5 mt-3">ccv</p>
          <div class="d-flex justify-content-end align-items-center" style="height: 35px; width: 80%; background-color: white; border-radius: 5px; margin-top: -7px">
            <span style="color: black; font-size: 30px;">000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
