<div class="container">
  <div class="d-flex justify-content-between me-4">
    <!-- dollar -->
    <div class="d-flex card">
      <div class="ms-3 mt-3 d-flex justify-content-start">
        <div class="d-flex justify-content-center align-items-center card__icon me-3">
          <div class="card__icon--dollar--circle">
            <i class="fa-solid fa-dollar-sign" style="color: #9288E0; position: relative; "></i>
          </div>
        </div>
        <div class="card__percentage--up me-3">
          <p>+32.40%</p>
        </div>
        <div class="d-flex justify-content-center align-items-center card__arrow--up">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
      </div>
      <p class="ms-3 mt-4 card__value--dollar">$10,243.00</p>
      <p class="ms-3 mt-4 card__paragraph">Total Revenue</p>
    </div>
    <!-- Markbook -->
    <div class="d-flex card">
      <div class="ms-3 mt-3 d-flex justify-content-start">
        <div class="d-flex justify-content-center align-items-center card__icon me-3">
          <i class="fa-regular fa-bookmark fa-xl card__icon--bookmark" style="color: #FFB572;"></i>
        </div>
        <div class="card__percentage--down me-3">
          <p>-12.40%</p>
        </div>
        <div class="d-flex justify-content-center align-items-center card__arrow--down">
          <i class="fa-solid fa-arrow-down"></i>
        </div>
      </div>
      <p class="ms-3 mt-4 card__value--bookmark">10,243.00</p>
      <p class="ms-3 mt-4 card__paragraph">Total Dish Ordered</p>
    </div>
    <!-- Customers -->
    <div class="d-flex card">
      <div class="ms-3 mt-3 d-flex justify-content-start">
        <div class="d-flex justify-content-center align-items-center card__icon me-3">
          <i class="fa-solid fa-user-group fa-xl card__icon--users" style="color: #65B0F6;"></i>
        </div>
        <div class="card__percentage--up me-3">
          <p>+2.40%</p>
        </div>
        <div class="d-flex justify-content-center align-items-center card__arrow--up">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
      </div>
      <p class="ms-3 mt-4 card__value--bookmark">1,234</p>
      <p class="ms-3 mt-4 card__paragraph">Total Customer</p>
    </div>
  </div>
</div>
