<div class="container-fluid row">
  <div [ngClass]="listProductBudget.length > 0 ? 'col-8' : 'col-12'">
    <div class="pb-5 d-flex flex-column">
      <span class="title">Hallef Brendo</span>
      <span class="subtitle">Tuesday, 2 Feb 2021</span>
    </div>
    <app-navigation-filter [listNavigation]="listNavigation" (selected)="selectedNavigation($event)"></app-navigation-filter>
  </div>
  <div class="mt-5" [ngClass]="listProductBudget.length > 0 ? 'col-8' : 'col-12'">
    <h1 style="margin-bottom: 100px; font-size: 34px;">Choose Dishes</h1>
    <app-product-card [listProduct]="listProduct" [selectNavigationCategory]="selectNavigationCategory"></app-product-card>
  </div>
  <div *ngIf="listProductBudget.length > 0" class="col-4" [ngClass]="listProductBudget.length > 0 ? 'slideInRight' :''" style="bottom: 217px; position: fixed; right: 0; top: 0;">
    <app-orders (letsPayment)="letsPayment($event)"></app-orders>
  </div>
  <div *ngIf="openPayment" [ngClass]="openPayment ? 'slideInRight' : ''" class="col-12 container">
    <div class="row shadow">
      <div class="col-6"></div>
      <div class="col-6">
        <app-payment (letsPayment)="letsPayment($event)"></app-payment>
      </div>
    </div>
  </div>
</div>
