.container {
  background-color: #1c1a26;
  border-radius: 10px;
  // height: 150%;
  max-width: 67vh;
  padding: 25px;
  position: fixed;
}
.button {
  margin-right: 10px;
  color: var(--primary-color);
  background-color: #1C1A26;
  font-weight: 600;
}
.button:hover {
  border-color: var(--primary-color);
}

.button-active {
  color: white;
  background-color: var(--primary-color);
}

.card-product {
  height: 300px;
  overflow-y: scroll;

}

.card-product::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

.card-product::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.card-product::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

@media screen and (min-width: 1900px) {
  .card-product {
    height: 500px;
    overflow-y: scroll;

  }
}
