<div class="container">
  <div class="row">
    <div class="card col-4 cards fadeIn" *ngFor="let product of listProductFilter">
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <img class="product-img to-spin-animation" src="{{product.Image}}" style="bottom: 95px; position: relative;" alt="">
        <h2 class="card-title text-center" style="margin-top: -58px;">{{product.Description}}</h2>
        <h3 class="card-text text-center">$ {{ product.Sale }}</h3>
        <h4 class="card-text text-center" style="color: #ABBBC2;">{{product.Availability}} Bowls avaliable</h4>
        <button type="button" class="btn btn-outline-success" style="width: 150px;" (click)="addProductBudget(product)">
          To Add
        </button>
      </div>
    </div>
  </div>
</div>
