/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'ngx-toastr/toastr';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --primary-color: #ea7c69;
  --secondary-color: #1c1a26;
  --tertiary-color: #252836;
  }


body {
  background-color: #252836;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 40px;
}
.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #E0E6E9;
  font-style: italic;
}

.color-loading {
  color: var(--primary-color);
}


// @media screen and (max-width: 767px) {
//   /* Estilos para telas pequenas */
// }

// @media screen and (min-width: 768px) and (max-width: 991px) {
//   /* Estilos para telas médias */
// }

// @media screen and (min-width: 992px) and (max-width: 1199px) {
//   /* Estilos para telas grandes */
// }

// @media screen and (min-width: 1500px) {
//   body {
//     max-width: 1100px;
//   }
// }
// @media screen and (min-width: 1920px) {
//   body {
//     max-width: 1920px;
//   }
// }
