<div class="col-2 vh-100 sidebar__background d-flex justify-content-around">
  <ul class="nav d-flex flex-column justify-content-evenly">
    <li class="icon-static-store">
      <img src="../../../../assets/sidebar/bx_bxs-store-alt.png" style="width: 40px;">
    </li>
    <li class="nav-item" routerLinkActive="active">
      <i routerLink="home" class="fa-solid fa-house fa-xl icon-background"></i>
    </li>
    <!-- <li class="nav-item" routerLinkActive="active">
      <i class="fa-solid fa-percent icon-background"></i>
    </li> -->
    <li class="nav-item" routerLinkActive="active">
      <i routerLink="dashboard" class="fa-solid fa-chart-pie fa-xl icon-background"></i>
    </li>
    <li class="nav-item">
      <i class="fa-solid fa-envelope fa-xl icon-background"></i>
    </li>
    <li class="nav-item">
      <i class="fa-solid fa-bell fa-xl icon-background"></i>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <i routerLink="settings" class="fa-solid fa-gear fa-xl icon-background"></i>
    </li>
    <li class="icon-static-exit">
      <i class="fa-solid fa-right-from-bracket fa-xl"></i>
    </li>
  </ul>
</div>
