.container {
  background-color: #1c1a26;
  border-radius: 15px;
}

.card_ {
  height: 50%;
  background-color: #1c1a26;
  border-radius: 15px;
  padding-bottom: 10px;
}

.card__img{
  width: 60px;
  height: 60px;
  clip-path: circle(45% at 50% 50%);
}

.card__title {
  font-size: 16px;
  color: white;
}

.card__paragraph{
  color: #abbbc25e;
}

